<div class="cotainer-fluid footer bg2">
  <div class="row">
    <div class="col-lg-4">
      <h1>Cinema City</h1>
      <p>Best Movies Experience</p>
    </div>
    <div class="col-lg-4">
      <a routerLink="">Home</a>
      <a routerLink="cinemas">Cinemas</a>
    </div>
    <div class="col-lg-4">
      <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
    </div>
  </div>
</div>
