<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register Yourself</h6>
        </div>

        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="name">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" id="exampleInputPassword1" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1" />
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <input type="number" formControlName="mobile" class="form-control" id="exampleInputPassword1" />
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" />
          </div>
          <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign Up</button>
        </form>
        <a routerLink="/login"> Already register? Click to Login </a>
      </div>
    </div>
  </div>
</div>
