.container {
  grid-template-columns: [left-start] 250px [left-end center-start] 250px [center-end right-start] 250px [right-end];
  grid-template-rows: 250px 250px 250px;
  background-color: #e4e4e4;
}

.row {
  margin-top: 20px;
}

.h3, .h6 {
  display: flex;
  align-items: center;

}
