* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #3fc060;
  --secondary-color: #f0f3f4;
}

body {
  height: 110vh;
  font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
